<% layout('base') %>
<h1>Sign in</h1>
<form method="post" action="login">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" id="formGroupExampleInput" placeholder="Username...">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="formGroupExampleInput2" placeholder="Password...">
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>